# Container port mapping
APP_PORT=8080
WEB_PORT=80
JAVA_OPTS=-Xms256m -Xmx768m -Dfile.encoding=UTF-8 -Duser.timezone=Asia/Shanghai

# Nacos bootstrap configuration
SPRING_PROFILES_ACTIVE=dev
NACOS_SERVER_ADDR=62.234.45.155:8848


